*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: 'Source Code Pro',sans-serif;
    text-decoration: none;
    list-style: none;
}

.haut{
    background-color: rgb(65, 64, 64);
    text-align: center;
    color: white;
}

.phrase{

    text-align: center;
    margin-top: 20px;
    background-color: gray;
}

.aside1{
    float: right;
    margin-right: 30px;
}